*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/******************** Header ********************/

header{
    background-color: #656565;
    text-align: center;
    padding: 3% 0;
}

header nav{
    padding-top: 2%;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li{
    background-color: black;
    width: 150px;
    padding: 1%;
    border-radius: 20px;
}

header nav ul li a{
    color: white;
}

header nav ul li a:hover{
    color: red;
}

/******************** Error404 ********************/

#error404{
    background-image: url("https://s.yimg.com/ny/api/res/1.2/nJgYPoysMfFCRJMrglLAuQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTI3OQ--/https://s.yimg.com/uu/api/res/1.2/TCoqLV1bMI_wPEK68BgDSg--~B/aD0yNzU7dz02MzA7YXBwaWQ9eXRhY2h5b24-/http://l.yimg.com/os/607/2013/03/18/southparkstudios2-jpg_175027.jpg");
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/******************** Delete success ********************/

.flashSuccess{
    padding: 2%;
    background-color: black;
    color: white;
    text-align: center;
}

/******************** Main ********************/

.adminArticles{
    padding: 2%;
}

#adminImageArticles{
    width: 100%;
}

th, td{
    text-align: center;
    width: 14%;
}

th{
    text-transform: uppercase;
    font-size: 20px;
}

/******************** Catégorie ********************/

.mainFormeulaireController{
    padding: 5%;
}

.formulaireCategorie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulaireCategorie h2{
    padding: 2%;
}

.formulaireCategorie form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formSubmit{
    margin: 5% 0;
    padding: 1% 5%;
}

.formulaireCategorie form label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
    margin: 2% 0;
}

.formulaireCategorie form label p{
    width: 100px;
}

/******************** Delete ********************/

.adminArticles{
    position: relative;
}

.trueDelete{
    display: none;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    padding: 8%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.trueDelete a{
    padding: 5% 10%;
}

.trueDelete a:first-of-type{
    background-color: red;
    border-radius: 20px;
}

.trueDelete a:last-of-type{
    background-color: blue;
    border-radius: 20px;
}

/******************** Footer ********************/

footer{
    background-color: #656565;
    text-align: center;
    padding: 3%;
}