{% extends 'admin/adminBase.html.twig' %}

{% block title %}Nouvelle article{% endblock %}

{% block content %}

<main class="mainFormeulaireController">

    <section class="formulaireCategorie">

        <h2>Nouvelle catégorie</h2>

        <form method="post">

            <label for="">
                <p>Catégorie</p>
                <input type="text" name="title">
            </label>

            <label for="">
                <p>Couleur</p>
                <input type="color" name="color">
            </label>

            <input type="submit" name="valider" id="formSubmit">
            
        </form>
        
    </section>

</main>

{% endblock %}